@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background-color: #eee;
    height: auto;
}

h1{
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

img{
    display: block;
    width: 100%; /* to fit the images within their container*/
}

main{
    max-width: 900px;
    margin: auto; /* we are setting our max width and everything gets pushed to the center because of margin auto*/

    /* setting a shadow effect around the main container */
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), /* effect to the right*/
    -30px 0px 40px rgba(0, 0, 0, 0.1); /* effect to the left*/
    /* values are horizontal offset, vertical offset, blur, and the color */

}

#landing{
    background: #fff;
}

#landing-text {
    display: flex;
    flex: 0 1 40vw; /* vw = viewport width */
    /* the flex properties are flex grow, flex shrink, and width. the usual values for grow and shrink are 0 and 1 */
    height: 50vh; /* vw = viewport height */

    /* beacause we are using flexbox, we can use justify and align*/
    justify-content: center;
    align-items: center;

    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

#landing-text h2{
    color: #888;
}

/* we are going to style the link to look like a button here */
.btn{
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block; /* separating the link from the other text by displaying it as a block */
    margin: 2rem 0 0; /* adding some more space */
    border-radius: 50px; /* rounded borders */
    text-decoration: none; /* removing the underline from the link */
    color: #333;
    transition: background 500ms ease; /* the property we want to transition is the background, in 500ms, with an 'ease' effect*/
}

.btn:hover{
    background: #f4f4f4;
}

#landing-image{
    background: url('https://source.unsplash.com/iGheu30xAi8');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}

#header{
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}

#header h2{
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.caption{
    padding: 0.8rem;
    text-align: center;
    border-bottom: solid 1px #555;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}

footer h3{
    font-size: 3rem;
    margin-bottom: 0;
}

/* if width is 500px and up */
@media(min-width:500px){
    #landing{
        display: flex;
        height: 100%
    }

    #landing-text{
        height: 100vh;
    }
    #landing-image{
        height: 100vh;
    }

}

/*  making the button bigger on a bigger screen */
@media(min-width:700px){
    .btn{
        padding: 1rem 3rem;
    }
}